

#canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    border: solid palevioletred 1px;
}

.movement {
    font-style: italic;
    font-size: larger;
    
}

h4{
    font-size: 0.1em;
}